// Forum font
@font-face {
    font-family: "Forum";
    src: url("../fonts/Forum-Regular.ttf") format("truetype");
    font-weight: 400;
}

// Futura PT font
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Semibold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Bold.ttf") format("truetype");
    font-weight: 700;
}