html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

button:focus,
input:focus {
    outline: transparent;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    max-width: 100vw;
    cursor: default;
    font-family: "Futura PT";
    font-weight: 400;
}

.main {
    margin-top: 80px;
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.secttitle {
    color: #151413;
    font-family: "Forum";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}


@media (max-width: 1399.8px) {
    .secttitle {
        font-size: 30px;
    }
}

@media (max-width: 991.8px) {
    .secttitle {
        font-size: 26px;
    }
    .main {
        margin-top: 60px;
    }
}

@media (max-width: 767.8px) {
    .secttitle {
        font-size: 24px;
    }
}